<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p>移动端文件上传</p>
<form action="/app/upload" method="POST" enctype="multipart/form-data">
    文件：<input type="file" name="file"/>
    <input type="submit"/>
</form>
<p>移动端多文件上传</p>
<form method="post" action="/app/uploads" enctype="multipart/form-data">
    <input type="file" name="file"/><br/>
    <input type="file" name="file"/><br/>
    <input type="file" name="file"/><br/>
    <input type="submit" value="提交"/>
</form>
<p>嵌入式端文件上传</p>
<form action="/firmware/upload" method="POST" enctype="multipart/form-data">
    文件：<input type="file" name="file"/>
    <input type="submit"/>
</form>
<p>嵌入式端多文件上传</p>
<form method="post" action="/firmware/uploads" enctype="multipart/form-data">
    <input type="file" name="file"/><br/>
    <input type="file" name="file"/><br/>
    <input type="file" name="file"/><br/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>